@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html, body, h1, h2, h3, h4, h5, h6, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper-top {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

td, th, caption {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
    text-align: left;
    vertical-align: top;
}

img, fieldset {
    border: 0;
}
img {
    display: block;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

q:before, q:after {
    content: '';
}

a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    outline: none!important;
}

input, select, textarea, button {
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-appearance: none;
}

input {
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}

html {
    -webkit-text-size-adjust: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #0F0C15 !important;
    -webkit-text-fill-color: #fff !important;
    color: #fff !important;
}
textarea {
    resize: none;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
.slick-initialized .slick-slide {
    outline: none;
}
input[type="checkbox"] {
    display: none;
}
