@media screen and (min-width: 1920px) {
    .footer-gradient {
        width: 100%;
    }
}
@media screen and (max-width: 1300px) {
    .main-about-subtitle {
        margin-left: 5%;
    }
    .main-about-cont {
        background-position: left 56%;
        -webkit-background-size: 120%;
        background-size: 120%;
    }
    .slider-review-wrap-img {
        width: 340px;
    }
    .slider-review {
        padding-left: 340px;
    }
    .gallery-slide {
        margin: 0 8px;
    }
    .experience .container {
        overflow: hidden;
    }
    .gas-truck-img {
        max-width: calc(100% + 200px);
        margin-left: -100px;
    }
    .our-contacts-addr-item-img {
        width: calc(100% + 80px);
        margin-right: -50px;
    }
}

@media screen and (max-width: 1260px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    header {
        padding: 20px 0;
    }
    .header-logo img {
        width: 110px;
    }
    .header-line-menu {
        gap: 20px;
    }
    .header-phone {
        font-size: 16px;
        padding-bottom: 0;
    }
    .header-cont {
        margin-left: 30px;
    }
    .header-call-btn {
        width: 40px;
        height: 40px;
    }
    .header-menu-btn {
        margin-left: 30px;
    }
    .top-slider .slick-dots {
        padding: 0 20px;
    }
    .feddback-wrap {
        padding-right: 330px;
    }
    .feddback-wrap img {
        right: 15px;
    }
    .breadcrumbs {
        margin-top: 110px;
    }
    .about-company-img {
        width: 40%;
        flex-shrink: 0;
    }
    .about-company-img img {
        width: 100%;
    }
    .about-company-wrap {
        gap: 20px;
    }
    .our-contacts-addr-item-img {
        width: calc(100% + 50px);
        margin-right: -20px;
    }
}

@media screen and (max-width: 1200px) {
    .main-about-cont {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .main-about-title img {
        width: 100%;
        max-width: 100%;
    }
    .reviews {
        padding-top: 80px;
    }
    .our-gallery {
        margin-top: 140px;
    }
    .advantages {
        padding-top: 80px;
    }
    .experience {
        margin-top: 80px;
    }
    .exp-wrap {
        padding-top: 65px;
    }
    .main-contacts {
        padding-top: 80px;
    }
    .main-contacts-row {
        padding: 40px 20px 0;
        font-size: 24px;
    }
    .advantages-about .main-about-img {
        margin-top: 80px;
    }
    .feedback {
        margin-top: 80px;
    }
    .service-txt-wrap {
        margin-top: 80px;
    }
    .advantages .main-about-img {
        margin-top: 80px;
    }
    .adv-delivery {
        margin-top: 80px;
    }
    .del-and-paym-txt-wrap {
        margin-top: 60px;
    }
    .delivery-and-payment-cost {
        padding-top: 80px;
    }
    .our-contacts-txt {
        font-size: 25px;
        max-width: 290px;
    }
    .our-contacts-column a {
        font-size: 25px;
    }
    .our-contacts-btn {
        width: 250px;
        height: 55px;
    }
    .our-contacts-addr {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 1050px) {
    .header-line-menu {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        padding: 0 20px;
    }
    header .container {
        padding-bottom: 35px;
    }
    .header-line-menu {
        justify-content: space-around;
    }
    header {
        padding: 15px 0;
    }
    .main-about-subtitle {
        font-size: 30px;
        max-width: 310px;
        line-height: 1.5;
    }
    .slider-review-wrap-img {
        width: 267px;
    }
    .slider-review {
        padding-left: 297px;
    }
    .slider-review .slide-review {
        padding-right: 20px;
    }
    .slide-review img {
        display: none;
    }
    .adv-wrap {
        margin-top: 30px;
        gap: 20px;
    }
    .adv-item {
        width: calc(50% - 10px);
    }
    .gas-station-wrap {
        gap: 20px;
    }
    .gas-station-item {
        width: calc(50% - 10px);
    }
    .exp-nmbr {
        width: 30%;
    }
    .exp-nmbr img {
        width: 100%;
    }
    .footer-logo {
        width: 110px;
    }
    .footer-logo img {
        width: 100%;
    }
    .footer-nav {
        font-size: 20px;
        font-weight: 500;
    }
    .footer-menu-wrap {
        width: 84%;
    }
    .footer-menu-wrap .footer-column {
        width: auto;
    }
    .breadcrumbs {
        margin-top: 127px;
    }
    .service-item-txt {
        padding: 30px 10px 0 35px;
    }
    .service-item-title {
        font-size: 24px;
        line-height: 1.2;
    }
    .service-item-desc {
        font-size: 18px;
        margin-top: 10px;
    }
    .service-item {
        width: calc(50% - 8px);
    }
    .service-wrap {
        gap: 16px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .top-slide {
        max-height: unset;
        height: 100vh;
    }
    .top-slide img {
        height: 100%;
        width: auto;
        max-width: unset;
    }
    .top-slide-txt br {
        display: none;
    }
    .main-about-desc {
        margin-top: 30px;
    }
    .main-about-title {
        line-height: 1.5;
    }
    .feddback-wrap {
        padding-left: 55px;
    }
    .feedback-main {
        margin-top: -14%;
    }
    .main-contacts-row {
        font-size: 20px;
        gap: 50px;
    }
    .footer-logo {
       display: none;
    }
    .footer-nav {
        display: none;
    }
    .footer-menu-wrap {
        width: 100%;
    }
    .service-item-txt {
        padding: 25px 10px 0 25px;
    }
    .service-item-title {
        font-size: 20px;
    }
    .our-contacts-wrap {
        margin-top: 30px;
        padding: 45px;
    }
    .our-contacts-txt {
        font-size: 20px;
        max-width: 235px;
    }
    .our-contacts-column a {
        font-size: 20px;
    }
    .our-contacts-addr-item-with-img {
        justify-content: flex-end;
        padding-bottom: 8%;
        padding-top: 0;
    }
    .our-contacts-addr {
        padding-top: 40px;
    }
    .our-contacts-addr-wrap {
        gap: 20px;
    }
    .gas-station-item-txt {
        padding: 20px;
    }
    .our-contacts-addr-item-img {
        width: calc(100% + 50px);
        margin-left: -20px;
    }
    .our-contacts-addr-item-with-img {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 900px) {
    .our-contacts-wrap {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }
    .our-contacts-txt {
        max-width: unset;
    }
}

@media screen and (max-width: 850px) {
    .slider-review-wrap-img {
        width: 30%;
    }
    .slider-review-wrap-img img {
        width: 100%;
    }
    .slider-review {
        padding-left: 35%;
    }
    .slider-review-wrap {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .slider-review .slick-prev, .slider-review .slick-next {
        bottom: -35px;
    }
    .slider-review .slick-dots {
        bottom: -35px;
    }
    .our-gallery {
        margin-top: 115px;
    }
    .gallery-slider {
        margin-top: 30px;
        padding: 0 55px;
    }
    .gallery-slider .slick-prev,
    .gallery-slider .slick-next {
        width: 45px;
        height: 45px;
    }
    .adv-item-img {
        width: 120px;
    }
    .exp-wrap .title-sec {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .exp-txt p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    .exp-wrap {
        flex-direction: column;
    }
    .exp-nmbr {
        width: 300px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .feddback-wrap img {
        right: -25px;
    }
    .feddback-wrap {
        overflow: hidden;
        padding-right: 280px;
    }
    .footer-row {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .footer-addr {
        width: 100%;
    }
    .footer-slogan {
        text-align: center;
    }
    .footer-slogan br {
        display: none;
    }
    .footer-top-row {
        justify-content: center;
    }
    .footer-bottom-txt:first-child {
        order: 1;
    }
    .about-company-wrap {
        flex-direction: column;
        gap: 30px;
    }
    .about-company-img {
        width: 100%;
    }
    .service-item:before {
        padding-top: 105%;
    }
    .service-txt-wrap {
        flex-direction: column;
    }
    .service-txt-wrap>div {
        width: 100%;
    }
    .service-img {
        max-height: 300px;
        overflow: hidden;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
    }
    .del-and-paym-txt-wrap:nth-child(even) {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 750px) {
    .header-line-menu {
        justify-content: space-between;
    }
    .top-slide-title {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .top-slide-txt {
        font-size: 18px;
        line-height: 1.3;
    }
    .top-slide-link {
        margin-top: 20px;
        padding: 15px 40px;
    }
    .main-about-subtitle {
        font-size: 25px;
        max-width: 250px;
    }
    .title-sec {
        font-size: 35px;
    }
    .exp-nmbr {
        width: 200px;
    }
    .gas-station-title {
        font-size: 35px;
    }
    .gas-station-item {
        padding: 30px 10px 10px 20px;
    }
    .main-contacts-row {
        padding-top: 30px;
        gap: 0;
        justify-content: space-between;
    }
    .footer-gradient {
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .adv-delivery {
        padding-top: 60px;
    }
}

@media screen and (max-width: 700px) {
    .slider-review {
        padding-left: 20px;
    }
    .slider-review-wrap-img {
        display: none;
    }
    .adv-item-img {
        width: 100px;
    }
    .adv-wrap {
        gap: 10px;
    }
    .adv-item {
        width: calc(50% - 5px);
        font-size: 18px;
    }
    .gas-station-item {
        width: calc(50% - 5px);
        padding-right: 0;
        padding-left: 15px;
    }
    .gas-station-wrap {
        gap: 10px;
    }
    .gas-station-item-addr a {
        font-size: 18px;
    }
    .gas-station-item-addr img {
        margin-right: 10px;

    }
    .feddback-wrap {
        padding: 40px 250px 50px 40px;
    }
    .feddback-wrap img {
        right: -55px;
    }
    .main-contacts-row {
        flex-direction: column;
        gap: 20px;
    }
    .main-contacts-map {
        height: 500px;
    }
    .main-contacts-row:before {
        height: 150px;
    }
    .main-contacts-row:after {
        height: 150px;
    }
    .main-contacts-map:after {
        height: 150px;
    }
    .our-contacts-addr-item {
        width: 100%;
    }
    .our-contacts-addr-item-map {
        height: 300px;
    }
    .our-contacts-addr-item-map:before {
        display: none;
    }
    .our-contacts-addr-item-img {
        width: calc(100% + 40px);
    }
}

@media screen and (max-width: 650px) {
    .feddback-wrap img {
        position: relative;
        right: unset;
        margin: 20px auto -40px;
    }
    .feddback-wrap {
        padding: 40px 20px 0 40px;
    }
    .service-item:before {
        padding-top: 330px;
    }
    .service-item-desc {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    .header-line-menu {
        position: fixed;
        justify-content: flex-start;
        align-items: flex-start;
        top: 71px;
        bottom: 0px;
        left: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 40px 40px;
        background: rgba(15, 20, 27, .95);
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        z-index: 100;
    }
    .header-line-menu a {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid rgba(255,255,255,.21);
    }
    header.menu-open {
        background: rgba(15, 20, 27, .95);
    }
    header.menu-open .header-line-menu {
        left: 0;
    }
    header .container {
        padding-bottom: 0;
    }
    .header-menu-btn {
        margin-left: 20px;
    }
    .main-about-cont {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .main-about-cont-top {
        flex-direction: column;
    }
    .main-about-subtitle {
        max-width: unset;
        margin-left: 0;
        margin-top: 30px;
    }
    .main-about-desc {
        font-size: 18px;
        line-height: 1.3;
    }
    .main-about-title {
        font-size: 28px;
        line-height: 1.3;
    }
    .main-about-cont {
        background-position: left top;
        -webkit-background-size: 145%;
        background-size: 145%;
    }
    .title-sec {
        font-size: 28px;
    }
    .reviews {
        padding-top: 60px;
    }
    .slider-review .slide-review {
        padding: 30px 20px 30px 0;
    }
    .review-name {
        font-size: 24px;
    }
    .review-txt {
        font-size: 18px;
        line-height: 1.3;
    }
    .gallery-slider {
        padding: 0 50px;
    }
    .our-gallery {
        margin-top: 105px;
    }
    .adv-item {
        width: 100%;
        height: 100px;
    }
    .advantages {
        padding-top: 60px;
    }
    .experience {
        margin-top: 60px;
    }
    .exp-wrap {
        padding-top: 45px;
        align-items: center;
    }
    .exp-txt p {
        font-size: 18px;
        line-height: 1.3;
    }
    .exp-wrap .title-sec {
        text-align: center;
    }
    .gas-station-cont {
        margin-top: 30px;
    }
    .gas-station-title {
        font-size: 28px;
    }
    .gas-station-wrap {
        margin-top: 20px;
    }
    .gas-station-item {
        width: 100%;
        padding-left: 20px;
        padding-right: 10px;
    }
    .feedback-txt {
        font-size: 18px;
        line-height: 1.3;
    }
    .feedback-btn {
        width: 100%;
    }
    .main-contacts {
        padding-top: 60px;
    }
    .main-contacts-row {
        font-size: 18px;
    }
    .footer-bottom-txt {
        width: 100%;
        text-align: center;
    }
    .footer-top-row {
        gap: 30px;
    }
    .footer-menu-wrap {
        flex-wrap: wrap;
        gap: 15px;
    }
    .footer-menu-wrap .footer-column {
        width: 100%;
        align-items: center;
    }
    .breadcrumbs {
        margin-top: 100px;
    }
    .about-company-wrap {
        margin-top: 30px;
        gap: 20px;
    }
    .about-company-txt {
        font-size: 18px;
        line-height: 1.3;
    }
    .about-company-txt p {
        margin-bottom: 15px;
    }
    .advantages-about .main-about-img {
        margin-top: 60px;
    }
    .feedback {
        margin-top: 60px;
    }
    .service-item-title {
        font-size: 18px;
    }
    .service-item {
        width: 100%;
    }
    .service-item:before {
        padding-top: 86%;
    }
    .service-wrap {
        gap: 20px;
        margin-top: 20px;
    }
    .service-txt-wrap {
        margin-top: 60px;
    }
    .service-txt-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .service-txt p {
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 15px;
    }
    .advantages .main-about-img {
        margin-top: 60px;
    }
    .adv-delivery {
        margin-top: 60px;
        padding-top: 20px;
    }
    .service-txt-wrap {
        margin-top: 40px;
    }
    .delivery-and-payment-cost {
        padding-top: 40px;
    }
    .our-contacts-txt {
        font-size: 18px;
        line-height: 1.3;
    }
    .our-contacts-column a {
        font-size: 18px;
    }
    .our-contacts-addr-wrap {
        margin-top: 20px;
    }
    .gas-station-item-txt {
        font-size: 15px;
    }
    .gas-station-item-txt .gas-station-item-addr {
        margin-top: 15px;
    }
    .gas-station-item-txt .gas-station-item-title {
        font-size: 18px;
    }
    .our-contacts-addr {
        padding-bottom: 60px;
    }
    .header-line-menu {
        top: 65px;
    }
}

@media screen and (max-width: 500px) {
    .header-cont {
        margin-left: 0;
    }
    .header-call-btn {
        display: none;
    }
    .slider-review .slick-dots {
        width: 100%;
        max-width: calc(100% - 70px);
    }
    .feddback-wrap {
        padding-left: 20px;
    }
}

@media screen and (max-width: 450px) {
    .header-menu-btn span {
        display: none;
    }
    .header-menu-btn {
        margin-left: 30px;
        height: 22px;
    }
    .top-slide-title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .top-slide-cont:after {
        height: 80%;
    }
    .main-about-cont {
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .gallery-slider {
        padding: 0 0 60px;
    }
    .gallery-slider .slick-prev,
    .gallery-slider .slick-next {
        bottom: 0;
        top: unset;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .gallery-slider .slick-prev {
        left: 50%;
        margin-left: -55px;
    }
    .gallery-slider .slick-next {
        right: 50%;
        margin-right: -55px;
    }
    .our-contacts-btn {
        width: 100%;
    }
    .our-contacts-column {
        width: 100%;
    }
    .our-contacts-wrap {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 400px) {
    .header-logo img {
        width: 90px;
    }
    .header-mail {
        font-size: 14px;
    }
    .header-menu-btn {
        margin-left: 20px;
    }


}